@import url(home.css);

:root {
    --blue: #5b6bb9;
    --background-dark: #1c1c1c;
    --sidebar-dark: #2b2b2b;
    --text-light: #bbb;
    --background-light: #333;
    --box-background: #444;
    --text-color: #fff;
    --highlight-color: #505b94;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-dark);
    color: var(--text-color);
}

.container-fluid {
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
}

.sidebar {
    width: 20%;
    background-color: var(--sidebar-dark);
    padding: 20px;
    box-sizing: border-box;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 15px;
    margin-bottom: 5px;
    color: var(--text-light);
    text-decoration: none;
    border-radius: 0.5rem;
}

.menu a:hover {
    color: var(--text-color);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--background-light);
}

.header {
    padding: 20px;
    text-align: center;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600 ;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.3rem;
}

section {
    margin: 20px 0;
}

section h2{
    text-align: center;
}

section h3 {
    margin-bottom: 15px;
    color: var(--blue);
}

section p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--text-light);
}

iframe{
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 70%;
    height: 30rem;
    border-radius: 0.5rem;
}

.where{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--sidebar-dark);
    color: var(--text-light);
    margin-top: auto;
}

footer a {
    color: var(--highlight-color);
    text-decoration: none;
}

.link a{
    text-decoration: none;
    color: var(--blue);
}
/* Responsividade */
@media screen and (max-width: 850px) {
    .container-fluid {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 15px;
        text-align: center;
    }

    .profile img {
        width: 80px;
    }

    .profile h3 {
        font-size: 18px;
    }

    .profile span {
        font-size: 14px;
    }

    .profile button {
        width: 30%;
        padding: 8px;
    }

    .menu a {
        padding: 10px;
        font-size: 16px;
    }

    .main-content {
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .profile img {
        width: 70px;
    }

    .profile h3 {
        font-size: 16px;
    }

    .profile span {
        font-size: 12px;
    }

    .profile button {
        width: 30%;
        padding: 7px;
    }

    .menu a {
        padding: 8px;
        font-size: 14px;
    }

    .main-content {
        padding: 10px;
    }

    iframe{
        width: 90%;
        height: 20rem;
    }
}